.line {
  margin-top: 10px;
  margin-bottom: 10px;
}

#newLine {
  display: block;
  margin-bottom: 10px;
}

.line:nth-child(even) > input {
  background-color: #cdcdcd;
}

#outputLines {
  height: 200px;
  width: 400px;
  padding: 0px;
  border: 0px;
  background-color: #cdcdcd;
  resize: none;
  font-size: 18px;
  overflow-y: hidden;
}